<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (change)="updateNewsletter()">
        <ion-segment-button value="newsletters">Newsletters</ion-segment-button>
        <ion-segment-button value="favorites">Favorites</ion-segment-button>
    </ion-segment>
</ion-navbar>

<ion-content class="favorites">

    <ion-list>
        <ion-item-group *ngFor="#main of content; #i=index">
            <ion-item-divider light class="divider-{{main.key}}">{{main.name}}</ion-item-divider>
            <ion-item-sliding *ngFor="#data of main.content; #j=index">
                <button ion-item (click)="viewNewsletterContent(data.url)">
                    <h3>{{data.title}}</h3>
                </button>
            </ion-item-sliding>
        </ion-item-group>
    </ion-list>

</ion-content>
